* {
    box-sizing: border-box;
  }
  main {
    padding-top: 150px;
  }
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #4a4a4a;
  }
  h1, h2, h3, h4 {
    line-height: 1.4;
    letter-spacing: 0.02em
  }
  h1 {
    font-size: 2em;
    font-weight: 600;
  }
  h2 {
    font-size: 1.75em;
    font-weight: 600;
  }
  h3 {
    font-size: 1.5em;
    font-weight: 600;
  }
  h4 {
    font-size: 1.25em;
    font-weight: 400;
  }
  header {
    background-color: #3C668C;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.6);
    position: fixed;
    width: 100%;
  }
  .logo {
    max-width: 150px;
  }
  nav {
    display: block;
    width: 100%;
  }
  nav > ul {
    list-style-type: none;
    padding: 0;
  }
  nav > ul > li {
    display: inline-block;
  }
  nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
    font-size: 1.2em;
  }
  nav > ul > li > a:hover {
    color: #011E39;
  }
  nav > ul > li > a:focus {
    color: #011E39;
  }
  #hero {
    background-color: #2d4c69;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
  }
  #hero h1 {
    text-align: center;
    color: #ffffff;
  }
  #hero p {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    font-size: 1.1em;
  }
  .heading {
    font-weight: 400;
  }
  #about {
    padding-top: 20px;
    text-align: center;
  }
  .portrait {
    max-width: 250px;
  }
  .container {
    padding: 0 15px;
  }
  #work .row { 
    padding-bottom: 25px;
    border-bottom: 1px solid #b9b9b9;
  }
  #work .container h2 {
    text-align: center;
  }
  .row { 
    padding-bottom: 25px;
    border-bottom: 1px solid #d4d4d4;
  }
  img {
    width: 100%;
  }
  .casestudy {
    display: block;
  }
  a {
    color: #3C668C;
    text-decoration: none;
  }
  a:hover {
    color: #011E39;
  }
  .button {
    display: inline-block;
    background-color: #3C668C;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    transition: 0.2s opacity;
    border-radius: 25px;
  }
  .button:hover {
    opacity: 0.8;
    text-decoration: none;
    color:#ffffff
  }
  .button:focus {
    opacity: 0.8;
    text-decoration: none;
  }
  .button:active {
    background-color: #011E39;
    color: #ffffff;
  }
  .button.contact {
    background-color: transparent;
    color: #3C668C;
    text-transform: uppercase;
    border: 2px solid #3C668C;
  }
  .button.contact:hover {
    background-color: #3C668C;
    color: #ffffff;
    border: 2px solid #3C668C;
  }
  .button.contact:focus {
    background-color: #3C668C;
    color: #ffffff;
    border: 2px solid #3C668C;
  }
  .button.contact:active {
    background-color: #011E39;
    color: #ffffff;
    border: 2px solid #011E39;
  }
  footer {
    background-color: #ffffff;
    padding: 10px 0;
    width: 100%;
    text-align: center;
  }