* {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  main {
    padding-top: 70px;
  }
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 350;
    line-height: 1.4;
    color: #2e4153;
  }
  h1, h2, h3, h4 {
    letter-spacing: 0.02em
  }
  h1 {
    font-size: 1.8em;
    font-weight: 500;
    line-height: 1.6;
  }
  h2 {
    font-size: 1.75em;
    font-weight: 600;
  }
  h3 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 0;
  }
  #aboutpage h2 h3 { 
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0;
  }
  h4 {
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1;
  }
  header {
    background-image: url(../img/background2.png);
    padding: 14px 0px 10px;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.6);
    position: fixed;
    z-index: 1;
    width: 100%;
  }
  .logo {
    max-width: 150px;
  }
  .illustration{
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  @keyframes color-change {
    0% {fill: #8D91DB;}
    50% {fill: #17b45e;}
    100% {fill: #f76414;}
  }  
  @keyframes pen-move {
    from {transform: translate(0,0px);}
    to {transform: translate(0px,40px);}
  }
  @keyframes window-move {
    from {transform: translate(0,0px);}
    to {transform: translate(-15px,-15px);}
  }
  @keyframes scaleup-grow {
    from {transform: scale(0.7);}
  }
  .square{
    animation: 2s color-change infinite alternate linear;
  }
  .pen {
    animation: 1s pen-move infinite alternate linear;
  }
  .scaleup{
    animation: 1s scaleup-grow infinite alternate linear;
    transform-origin: 50% 50%;
    transform-box: fill-box;
  }
  .window {
    animation: 2s window-move infinite alternate linear;
  }
  nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
    font-size: 1.2em;
  }
  nav > ul > li > a:hover {
    color: #011E39;
  }
  nav > ul > li > a:focus {
    color: #011E39;
  }
  .navtoggle li:not(:last-child) {
    display: none;
    transition: all .3s ease;
  }
  .navtoggle, .navtoggle.responsive {
    position: relative;
    transition: all .3s ease;
  }
  .navtoggle.responsive nav {
    padding: 10px 0 0;
    transition: all .3s ease;
  }
  .navtoggle.responsive li  {
    display: block;
    padding: 10px 0;
    border-top: 1px solid #e9e9e93f;
    transition: all .3s ease;
  }
  .navtoggle.responsive li:last-child  {
    padding: 0 0 5px;
    transition: all .3s ease;
  }
  .navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 9px;
    font-size: 22px;
    padding-right: 0;
    color: #ffffff;
    transition: all .3s ease;
  }
  .rotate {
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .rotate.down{
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
  }
   #hero {
    background-image: url(../img/background.png);
    padding: 20px 20px;
    display: inline-block;
    width: 100%;
  }
  #hero h1 {
    text-align: center;
    color: #ffffff;
  }
  #hero p {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    font-size: 1em;
  }
  .heading {
    font-weight: 400;
  }
  .title {
    text-align: center;
    padding-top: 20px;
    max-width: 250px;
    text-align: center;
  }
  .aboutpic {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .background {
    background:#0a32571a
  }
  .portrait {
    max-width: 300px;
    border-radius: 300px;
  }
  .header {
    padding: 0 20px;
  }
  .story{
    padding-left: 10px;
    padding-right: 10px;
  }
  .container {
    padding: 0 10px;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .row { 
    padding-bottom: 20px;
  }
  #work .container h2 {
    text-align: center;
    line-height: 2;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  img {
    width: 100%;
  }
  .thumbnail {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .casestudy {
    display: block;
  }
  a {
    color: #3C668C;
    text-decoration: none;
  }
  a:hover {
    color: #011E39;
  }
  footer a:hover {
    text-decoration: underline;
  }
  .button {
    display: inline-block;
    background-color: #3C668C;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    transition: 0.35s opacity;
    border-radius: 25px;
  }
  .button:hover {
    opacity: 0.8;
    text-decoration: none;
    color:#ffffff
  }
  .button:focus {
    opacity: 0.8;
    text-decoration: none;
  }
  .button:active {
    background-color: #011E39;
    color: #ffffff;
  }
  .button.contact {
    background-color: transparent;
    color: #3C668C;
    text-transform: uppercase;
    border: 2px solid #3C668C;
    transition: 0.2s;
  }
  .button.contact:hover {
    background-color: #3C668C;
    color: #ffffff;
    border: 2px solid #3C668C;
  }
  .button.contact:focus {
    background-color: #3C668C;
    color: #ffffff;
    border: 2px solid #3C668C;
  }
  .button.contact:active {
    background-color: #011E39;
    color: #ffffff;
    border: 2px solid #011E39;
  }
  footer {
    background-color: #ffffff;
    color:#011E39;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    border-top: 2px solid #bbbbbb;
  }
  [class*="col-"] {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
  }
  @media only screen and (min-width: 640px) {
    header {
      text-align: unset;
      padding: 20px 0 13px;
    }
    nav {
      width: auto;
      float: right;
      margin-top: 4px;
    }
    nav > ul {
      list-style-type: none;
      padding: 0;
      margin: 1em 0;
    }
    .navtoggle.responsive nav {
      padding: 0px 0 0;
    }
    .navtoggle.responsive li  {
      display: block;
      padding: 0px 0;
      border-top: none;
    }
    .navtoggle.responsive li:last-child  {
      padding: 0 0 5px;
    }
    .navtoggle li:not(:last-child) {
      display: inline-block;
    }
    .navtoggle li:last-child {
      display: none;
    }
    main {
      padding-top: 99px;
    }
    .title {
      text-align: center;
      padding-top: 30px;
      max-width: 300px;
      text-align: center;
    }
    .portrait {
      max-width: 400px;
      border-radius: 300px;
    }
    body {
      font-size: 18px;
      font-weight: 400;
    }
    .col-md-6 {
      width: 50%;
    }
    h3 {
      font-size: 1.5em;
      font-weight: 600;
      line-height: 0;
    }
    h1 {
      font-size: 1.9em;
      font-weight: 500;
    }
    p {
      font-size: 1em;
      font-weight: 400;
    }
    .logo {
      max-width: 250px;
    }
    nav > ul > li {
      display: inline-block;
    }
  }  
  @media only screen and (min-width: 1024px) {
    .col-lg-7 {
      width: 60%;
    }
    .col-lg-5 {
      width: 40%;
    }
    .title {
      text-align: center;
      padding-top: 30px;
      max-width: 400px;
      text-align: center;
    }
    h1 {
      font-size: 2.2em;
      font-weight: 500;
    }
    p {
      font-size: 1.1em;
      font-weight: 400;
    }
    #hero p {
      font-size: 1.1em;
    }
  }
  @media only screen and (min-width: 1440px) {
  }
  @media only screen and (min-width: 1920px) {  
  }